* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   }

body{
    font-family: 'Arial', sans-serif;
    background-color: #F5F5F7;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.card-painel {
    padding: 30px;
    margin: 5rem;
    width: 600px;
    height: 600px;
    background-color: #fff;
    color: #fff;
    box-shadow: 0 0 20px rgba(24, 23, 23, 0.2);
    border-radius: 20px;
    text-align: center;
    
}

.card-painel h1{
    color: black;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 40px;

}

.card-painel img{
    width: 350px;
    height: auto;

}

#sim {
    background-color: green;
    width: 60px;
    height: 40px;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    font-size: medium;
    margin-left: -60px;
 
   
}

#nao {
    position: absolute  ;
    background-color: rgb(210, 11, 11);
    width: 60px;
    height: 40px;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    font-size: medium;
    margin-left: 10px;
    
}